<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %5p %c{1},%t:%L - %m%n"/>
        </layout>
    </appender>


    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>

    <!-- set this to debug to see the generated SQL -->
    <logger name="org.hibernate.SQL">
        <level value="WARN"/>
    </logger>

    <!-- set this to debug to see how HQL queries are translated to SQL -->
    <logger name="org.hibernate.hql">
        <level value="WARN"/>
    </logger>

    <!-- set this to debug to see how parameters are bound to HQL queries -->
    <logger name="org.hibernate.type">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework.web.servlet.DispatcherServlet">
        <level value="WARN"/>
    </logger>

    <logger name="net.sf.ehcache">
        <level value="WARN"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>